body {
  background-image: url('./assets/pkmBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
  padding: 22px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
}

h1,
.inputContainer {
  margin: auto;
}

main {
  background-image: url(./assets/pokedex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30em;
  padding: 13em 0;
  display: flex;
  flex-direction: column;
}

#input {
  font-size: 18px;
  width: 130px;
  text-align: center;
  border: 2px solid #4d71dac9;
  border-radius: 12px;
}

#input:focus,
#input:active,
#input:valid,
#input:focus-visible,
#input:focus-within {
  outline: none;
  background: #eeeeeefa;
}

#search {
  background: none;
  border: none;

}

#search:hover {
  cursor: pointer;
}

i {
  margin-block-start: 6px;
  font-size: 15px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 24em;
}

.imageContainer div {
  display: flex;
  margin-block-start: 1em;
}

#order {
  margin-right: 10px;
}

#name {
  text-transform: capitalize;
}

#sprite,
#shinySprite {
  display: none;
  margin: 20px auto 0 auto;
}

.infoContainer {
  display: none;
  margin-block-start: 1em;
  width: 14em;
}

#types,
#abilities {
  display: flex;
  justify-content: flex-start;
}

#types p,
#abilities p {
  margin-right: 15px;
  text-transform: capitalize;
}

#types p {
  color: white;
  padding: 6px;
  border-radius: 5px;
  width: 50px;
  text-align: center;
}

#stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-transform: capitalize;
}

#stats p {
  margin: 8px 0;
  width: 90px;
  border-radius: 5px;
  text-align: center;
  padding: 6px;
}

.hp {
  background-color: #9EE865;
}

.attack {
  background-color: #F5DE69;
}

.defense {
  background-color: #F09A65;
}

.special-attack {
  background-color: #66D8F6;
}

.special-defense {
  background-color: #899EEA;
}

.speed {
  background-color: #E46CCA;
}

#order,
#name,
h4 {
  font-size: 20px;
}